/*
main.css
Author     : Brian
*/

body {
    background-color: #ffffd8;
}

header {
  background-color: #8071;
  border: 5px solid #777;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 1;
  display:grid;
}

textarea {
    width: 80%;
    min-height: 100px;
}

.app {
    width: 85%;
    margin: inherit;
}

input:focus, textarea:focus {
    color: goldenrod;
}

hr {
    border: 1px solid blue;
		border-top: solid 10px #e8e2e3;
}

.navbar ul li {
  display: flex;
}

.navbar:hover {
  background-color: red;
}

.navbar {
  background-color: #000;
  height: auto;
}

.navbar ul li {
  display: inline-block;
  text-align: center;
  padding: 0 10px;
  text-decoration: none;
  font-size: 1.8rem;
}

.dvuiprofile {
  background-color: rgba(25, 70, 51, 2);
	border: 3px;
	border-radius: 3.5em;
	color: rgba(55, 25, 55, 0.95);
  height: 40px;
  width: 40px;
  border-color: #123;
  border-style: solid;
}

.dvuiprofile img {
  height: 40px;
  width: 40px;
  border: solid 5px white;
  border-radius: 100%;
}

.gdvuiprofile {
  background-color: rgba(25, 70, 51, 2);
	border: 3px;
	border-radius: 3.5em;
	color: rgba(55, 25, 55, 0.95);
  height: 140px;
  width: 140px;
  border-color: #123;
  border-style: solid;
}

.gdvuiprofile img {
  height: 140px;
  width: 140px;
  border: solid 5px white;
  border-radius: 100%;
}
